<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]FPTBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet'
        type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<<<<<<< HEAD

    <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/prettyPhoto.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/price-range.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/animate.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/main.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/responsive.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css//salomon.css" rel="stylesheet" asp-append-version="true">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
=======
    <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/animate.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/main.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/responsive.css" rel="stylesheet" asp-append-version="true">

>>>>>>> 2a7b10c6e960a304858e238f8008c1deb4b4dd86
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FPTBook.styles.css" asp-append-version="true" />
</head>

<body>
<<<<<<< HEAD
    <header id="header">
=======
    <header>
>>>>>>> 2a7b10c6e960a304858e238f8008c1deb4b4dd86
        <div class="header_top" style="background-color:#00CCCC"><!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">
<<<<<<< HEAD
                                <li><a href="#"><i class="fa fa-phone"></i> +84 0337 197 520</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i> ziyou223@gmail.com</a></li>
=======
                                <li><a><i class="fa fa-phone"></i> +84 0999 999 999</a></li>
                                <li><a><i class="fa fa-envelope"></i> fpt@gmail.com</a></li>
>>>>>>> 2a7b10c6e960a304858e238f8008c1deb4b4dd86
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav" style="flex-direction: unset">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
<<<<<<< HEAD
<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
=======
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
>>>>>>> 2a7b10c6e960a304858e238f8008c1deb4b4dd86
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle" style="background-color:white"><!--header-middle-->
            <div class="container">
                <div>
                    <div class="col-sm-6">
                        <div class="logo pull-left">
                            <a asp-controller="Home" asp-action="Index" style="color:#000000">FPTBook
                                 <img src="images/ziyoulogo.png" width="70" height="70"> 
                            < asp-controller="Home" asp-action="Index" style="color:#000000">
                                <img src="~/img/logo.jpg" alt="Logo" width="80" height="80">
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="shop-menu pull-right">
<<<<<<< HEAD
                            <ul class="nav navbar-nav" style="flex-direction: unset">
                                <li><a asp-controller="" asp-action="" style="color:#000000">
                                        <i class="fa fa-lock"></i>Login</a></li>
                                <li><a asp-controller="" asp-action="" style="color:#000000">
                                        <i class="fa fa-star"></i>Register</a></li>
                            </ul>
=======
                            <partial name="_LoginPartial" />
>>>>>>> 2a7b10c6e960a304858e238f8008c1deb4b4dd86
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3"
            style="background-color:#00CCCC">
            <div class="container">
<<<<<<< HEAD
                @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FPTBook</a> *@
=======
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FPTBook</a>
>>>>>>> 2a7b10c6e960a304858e238f8008c1deb4b4dd86
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole("admin") || User.IsInRole("storeowner"))
                        {
                            <li class="nav-item mynav_dropdown">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">Management<i class="fa fa-caret-down"></i></a>
                                <div class="mynav_dropdown-content">
                                    <a asp-area="" asp-controller="Home" asp-action="About">About</a>
                                    <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                                </div>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">Cart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-route-username="@User.Identity.Name" 
                                asp-controller="Customer" asp-action="Profile">Profile</a>
                            </li>
                        }

                        <li class="nav-item">
<<<<<<< HEAD
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">Management</a>
=======
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">Help</a>
>>>>>>> 2a7b10c6e960a304858e238f8008c1deb4b4dd86
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">Cart</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="">Help</a>
</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer-top-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="footer-about-us">
                        <h2>FPTBook</h2>
                        <p></p>
                        <div class="footer-social">
                            <a target="_blank"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">User</h2>
                        <ul>
                            <li><a href="#">Account</a></li>
                            <li><a href="#">Record Orders</a></li>
                            <li><a href="#">Other information</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="footer-menu">
                        <h2 class="footer-wid-title">Classify</h2>
                        <ul>
                            @* <li><a href="#">Keyboards</a></li>
                            <li><a href="#">Gaming Mouse</a></li>
                            <li><a href="#">Headphones</a></li> *@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer top area -->

    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="copyright">
                        <p>&copy; 2023 - FPTBook</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="footer-card-icon">
                        <i class="fa fa-cc-discover"></i>
                        <i class="fa fa-cc-mastercard"></i>
                        <i class="fa fa-cc-paypal"></i>
                        <i class="fa fa-cc-visa"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End footer bottom area -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>