@model FPTBook.Models.DTO.ChangePasswordModel

@{
    ViewData["Title"] = "ChangePassword";
}

<div class="container">
    <h3>Change Password</h3>
    <form asp-action="ChangePassword" class="form-horizontal" role="form" method="post">
        <div class="form-group">
            <label class="col-sm-2 control-label">Current Password: </label>
            <div class="col-sm-10">
                <input type="password" class="form-control" asp-for="CurrentPassword" />
                <span class="text-danger" asp-validation-for="CurrentPassword"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">New Password: </label>
            <div class="col-sm-10">
                <input type="password" class="form-control" asp-for="NewPassword" />
                <span class="text-danger" asp-validation-for="NewPassword"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Confirm New Password: </label>
            <div class="col-sm-10">
                <input type="password" class="form-control" asp-for="PasswordConfirm" />
                <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
            </div>
        </div>

        @if (TempData["msg"] != null)
        {
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <span class="text-success">@TempData["msg"]</span>
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="submit" value="Back" asp-controller="Customer" asp-action="Profile"
                    asp-route-username="@User.Identity.Name" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>